.datalist {
  padding: 1rem;
  margin-left: 5%;
  margin-right: 5%;
}

.formElement {
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
}

input.formElement {
  color: #000;
}

.datalist button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #ff7300;
  color: #000;
  margin-left: 2%;
}
